<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="moe.shizuku.manager.permission.API_V23" />

    <queries>
        <intent>
            <action android:name="rikka.shizuku.intent.action.REQUEST_BINDER" />
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="org.lsposed.manager.LAUNCH_MANAGER" />
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="org.matrix.vector.manager.LAUNCH_MANAGER" />
        </intent>
        <package android:name="org.lsposed.manager" />
        <package android:name="org.matrix.vector.manager" />
    </queries>

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:description="@string/xposed_module_description"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HyperOSMtzStudio">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
    </application>
</manifest>
